# Arquivos de build
/build/
.gradle/
local.properties
.cxx/
captures/

# Android Studio
.idea/*
!.idea/codeStyles
!.idea/runConfigurations

# Arquivos de sistema
.DS_Store
*.iml

# Logs
*.log

# NDK / external build
.externalNativeBuild/

# Cache
.gradle/
